18082021VariablesTest/Workflows/FlowUsingVariable-41AFF52B-25FF-EB11-94EF-000D3ABA6CD8.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cra2e_sharedsharepointonline_440d1"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"SharePoint_List":{"defaultValue":"da69376a-8044-482c-bb4f-4882ff3b542a","type":"String","metadata":{"schemaName":"cra2e_SharePoint_List"}},"SharePoint_Site":{"defaultValue":"https://volvogroup.sharepoint.com/sites/proj-coe_dev","type":"String","metadata":{"schemaName":"cra2e_SharePoint_Site"}},"SharePoint_Site_2":{"defaultValue":"https://volvogroup.sharepoint.com/sites/proj-coe_dev/","type":"String","metadata":{"schemaName":"cra2e_SharePoint_Site_2"}},"SharePoint_List_2":{"defaultValue":"https://volvogroup.sharepoint.com/sites/proj-coe_dev/Lists/test/AllItems.aspx","type":"String","metadata":{"schemaName":"cra2e_SharePoint_List_2"}},"SharePoint_Site_3":{"defaultValue":"https://volvogroup.sharepoint.com/sites/proj-coe_dev","type":"String","metadata":{"schemaName":"cra2e_SharePoint_Site_3"}},"SharePoint_List_3":{"defaultValue":"da69376a-8044-482c-bb4f-4882ff3b542a","type":"String","metadata":{"schemaName":"cra2e_SharePoint_List_3"}}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_lists":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetTables","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePoint_Site')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_lists_2":{"runAfter":{"Get_lists":["Succeeded","Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetTables","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePoint_Site_2')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_lists_3":{"runAfter":{"Get_lists_2":["Succeeded","Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetTables","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePoint_Site_3')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_items":{"runAfter":{"Get_lists_3":["Succeeded","Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePoint_Site')","table":"@parameters('SharePoint_List')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_items_2":{"runAfter":{"Get_items":["Succeeded","Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePoint_Site_2')","table":"@parameters('SharePoint_List_2')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_items_3":{"runAfter":{"Get_items_2":["Succeeded","Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePoint_Site_3')","table":"@parameters('SharePoint_List_3')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}}},"schemaVersion":"1.0.0.0"}